.todoManager {
    margin: 0 auto;
    transform: translateY(70px);
    max-width: 540px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .todoManager {
        max-width: 327px;
    }
  }